@font-face {
    font-family: 'Suisseintl-Regular';
    src: url('fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisseintl-Bold';
    src: url('fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisseintl-SemiBold';
    src: url('fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisseintl-Light';
    src: url('fonts/SuisseIntl-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisseintl-Medium';
    src: url('fonts/SuisseIntl-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Suisseintl-Regular, sans-serif;
}
body.lock {
    overflow: hidden;
}
.page {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #222;
}
.header-left-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 0;
}
/*Скрытое меню сайта*/
.show-nav {
    padding: 0 0 0 1.2rem;
}
.nav-checkbox {
    display: none;
}
.nav-button {
    display: none;
}
.nav-box {
    position: fixed;
    left: 0;
    padding-left: 24px;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10;
    display: none;
}
.logo-container {
    display: inline-block;
    border-bottom: 1px solid #4e5761;
    padding: 2rem 0;
    z-index: 1000;
}
.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    background: url('../assets/pix.svg') no-repeat;
    background-size: 150%;
    background-position: right -35rem top 0;
}
.nav-list li {
    margin-top: 3.8rem;
}
.nav-list a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #222;
}
.nav-list a:hover {
    text-decoration: underline;
}
.lang-list {
    list-style: none;
    position: fixed;
    list-style: none;
    z-index: 1000000;
    left: 3rem;
    bottom: 5rem;
    display: flex;
}
.lang-list li {
    margin: 30px 24px 0 0;
}
.lang-list a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #222;
}
.lang-list a:hover {
    text-decoration: underline;
}
/*END Скрытое меню сайта*/
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    list-style: none;
    margin: 0 0 0 7rem;
}
.nav li {
    font-family: Suisseintl-Regular, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.nav a {
    text-decoration: none;
    color: #222;
}
.nav a:hover {
    text-decoration: underline;
}
.header-right-box {
    display: flex;
    align-items: center;
}
.lang-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    list-style: none;
}
.lang-box li {
    font-weight: 400;
    font-size: 1.5rem;
}
.lang-box a {
    text-decoration: none;
    color: #222;
}
.lang-box a:hover {
    text-decoration: underline;
    color: #222;
}
/*END header*/

/*intro*/
.intro {
    display: flex;
    margin-top: 6.5rem;
}
.intro-left-box {
    display: block;
}
.intro-left-box h1 {
    font-family: Suisseintl-Bold, sans-serif;
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    margin-bottom: 6rem;
    margin-top: 0;
}
.intro-left-box p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 26px;
}
.intro-right-box {
    display: block;
}
.intro-btn-container {
    display: flex;
    justify-content: flex-end;

    margin-top: 50px;
}
.intro-btn-container a {
    text-decoration: none;
    padding: 1.5rem 5rem;
    border-bottom: 1px solid #282828;
    color: #282828;
    font-size: 1.8rem;
    font-weight: 700;
}
.intro-btn-container a:hover .intro-arrow {
    position: absolute;
    transform: translateX(50%);
}
.intro-arrow {
    position: absolute;
    margin-left: 10px;
    transition: all 0.2s;
}
/*intro*/

/*products*/
.products {
    margin-top: 6.5rem;
    background: url('../assets/fon-product.svg') no-repeat top;
    background-size: cover;
    padding-bottom: 8rem;
    overflow: hidden;
}
/*Кнопки первого слайдера*/
.products-carousel-inner {
    position: relative;
}
.slick-arrow-prev {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    top: 45%;
    margin: 10px;
}
.slick-arrow-next {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    position: absolute;
    z-index: 100;
    top: 45%;
    right: 0;
    margin: 10px;
}
/*Перелистывание слайдера*/
.prev {
    transform: translate3d(-1200px, 0px, 0px);
    margin-left: -20%;
    transition: all 0.5s;
}
.next {
    margin-right: -20%;
    transition: all 0.5s;
}
.products h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold, sans-serif;

    margin-bottom: 2.6rem;
}
.products p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.6rem;
}
.products-carousel {
    margin-top: 6rem;
}
.slick-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    margin-left: -55%;
}
.slick-box {
    position: relative;
    width: 35rem;
    height: 35rem;
    background: #fff;
}
.slick-box:hover {
    /*transform: translateX(5%);*/
    background: #d1d1d1;
    transition: all 0.3s;
}
.slick-slide {
    list-style: none;
    transition: all 0.2s;
    min-width: 35rem;
    min-height: 35rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: -1px 9px 18px -3px rgba(0,0,0,.35)
}
.slick-slide img {
    align-self: center;
    width: 23rem
}
.slick-slide p {
    min-height: 5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    font-family: Suisseintl-Regular,sans-serif;
    align-self: end;
}
/*team*/
.team {
    background: #222;
    width: 100vw;
    margin-left: calc(49% - 50vw);
}
.team-carousel {
    display: block;
}
.team-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    height: 70rem;
}
.team-box-text {
    color: #fff;
    width: 50rem;
    padding: 3rem 5rem 7rem 0;
}
.team-text-h1-1 {
    color: #fff;
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold,sans-serif;
    margin-bottom: 2.6rem;
}
.team-text-h1-2 {
    color: #fff;
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold,sans-serif;
    margin-bottom: 0;
}
.team-text-p-1 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 6rem;
}
.team-text-p-2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}
.team-text-p-3 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}
.team-box-images{
    object-fit: cover;
    width: 500px;
    height: 700px;
}
.team-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
/*change-world*/
.change-world {
    position: relative;
    margin: 6.5rem 0 9rem 0;
}
.change-world-box {
    width: 55%;
}
.change-world-head {
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold,sans-serif;
    margin-bottom: 2.6rem;
}
.change-world-body {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.6rem;
}
/*vacancies*/
.vacancies {
    margin-bottom: 2.6rem;
}
.vacancies-box h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold,sans-serif;
    margin: 2.6rem 0 2.6rem 0;
}
.vacancies-list {
    list-style: none;
}
.vacancies-item {
    margin-bottom: 1.5rem;
    border: 0.2rem solid #282828;
}
.vacancies-item a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.3rem 4.6rem;
    text-decoration: none;
    color: #282828;
    font-size: 2rem;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}
.vacancies-item a:hover {
    background: #222;
    color: #fff;
}


/*footer*/
.footer {
    grid-column: 1/-1;
    grid-row-end: -1;
    background-color: #282828;
    display: grid;
    grid-template-columns: 1fr 60rem 60rem 1fr;
    margin-top: 9.1rem;

    width: 100vw;
    margin-left: calc(49% - 50vw);
}
.footer-contacts {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8rem 0 4rem;
    border-bottom: 2px solid #fff;
}
.footer-info {
    grid-column: 1/2;
    position: relative;
    display: flex;
    flex-direction: column;
}
.footer-info h1 {
    color: #fff;
    font-weight: 900;
    font-size: 5rem;
    line-height: 7rem;
    font-family: Suisseintl-Bold,sans-serif;
    margin-bottom: 2.6rem;
}
.footer-text-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-text {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.6rem;
}
.body-text a {
    color: inherit;
    text-decoration: none;
}
.body-text a:hover {
    text-decoration: underline;
}
.footer-map {
    grid-column: 2/3;
    align-self: center;
}
.footer-map-img {
    width: 100%;
}
.footer-other {
    grid-column: 2/4;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
}
.footer-link:hover {
    text-decoration: underline;
}
.footer-social {
    display: block;
}
.footer-social-item {
    color: #91969e;
}
.footer-social-item:not(:nth-child(3n)){
    margin-right: 3rem;
}
.footer-social-item:hover {
    color: #fff;
}
.footer-lang {
    list-style: none;
    display: flex;
}

.footer-lang li:not(:nth-child(3n)){
    margin-right: 2rem;
}
.footer-lang a {
    color: #7a7a7a;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
}
.footer-lang a:hover {
    color: #fff;
}
/*adaptiv all*/
@media only screen and (max-width: 1240px) {
    .page {
        padding: 0 8rem 0 8rem;
    }
    .header {
        padding: 0 8rem 0 8rem;
    }
    .nav ul {
        margin: 0 0 0 7rem;
    }
    .header-left-box {
        padding: 16px 0;
    }
    .nav li {
        font-weight: 600;
        font-size: 12px;
    }
    .lang-box li {
        font-weight: 600;
        font-size: 12px;
        color: #222;
    }
    /**/
    .footer {
        grid-template-columns: 10rem 1fr 1fr 10rem;
    }
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
    .page {
        padding: 0 8rem 0 8rem;
    }
    .header {
        padding: 0 3.5rem;
    }
    .header-left-box {
        padding: 16px 0;
    }
    .nav li {
        font-weight: 600;
        font-size: 12px;
    }
    .lang-box li {
        font-weight: 600;
        font-size: 12px;
        color: #222;
    }
    /**/
    .header-left-box {
        padding: 2rem 0;
    }
    /**/
    .intro {
        margin-top: 5.2rem;
    }
    /**/
    .footer {
        grid-template-columns: 3rem 1fr 1fr 3rem;
    }
}
@media only screen and (max-width: 1000px) {
    html {
        font-size: 50%;
    }
    .page {
        padding: 0 20px 0 20px;
    }
    .header {
        padding: 0 3.5rem;
    }
    .header-left-box {
        padding: 16px 0;
    }
    .nav li {
        font-weight: 600;
        font-size: 12px;
    }
    .lang-box li {
        font-weight: 600;
        font-size: 12px;
        color: #222;
    }
    /**/
    .header-left-box {
        padding: 2rem 0;
    }
    /**/
    .intro {
        margin-top: 5.2rem;
    }
    .intro-right-box {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .nav {
        display: none;
    }
    .lang-box {
        display: none;
    }
    .nav-button {
        display: block;
        position: fixed;
        z-index: 10000;
        width: 36px;
        height: 25px;
        cursor: pointer;

        top: 2.3rem;
        right: 3rem;
    }
    .nav-button span,
    .nav-button::before,
    .nav-button::after {
        position: absolute;
        width: 36px;
        height: 4px;
        background-color: #000;
        transition: all 0.3s ease 0s;
    }
    .nav-button::before,
    .nav-button::after {
        content: "";
    }
    .nav-button::before {
        top: 0;
    }
    .nav-button::after {
        bottom: 0;
    }
    .nav-button span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    /*Кнопка бургер плавное переключение*/
    .nav-button._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .nav-button._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
        height: 5px;
        background-color: #828282;
    }
    .nav-button._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
        height: 5px;
        background-color: #828282;
    }
    #nav-check:checked ~ .nav-box {
        display: block;
      }
      /*Первый слайдер*/
      .slick-slider {
        /*flex-direction: column;
        gap: 50px;*/
    }
}
@media only screen and (max-width: 500px) {
    .page {
        padding: 0 1.5rem;
    }
    .header {
        padding: 0 1.5rem;
    }
    .intro-left-box h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .change-world-box {
        width: 100%;
    }
    .change-world-box h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    /**/
    .footer {
        grid-template-columns: 1.5rem 1fr 1.5rem;
    }
    .footer-contacts {
        grid-column: 2/3;
        grid-template-columns: 1fr;
        padding: 4rem 0;
    }
    .footer-info h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .footer-map {
        grid-column: 1/2;
    }
    .footer-other {
        grid-column: 2/3;
        flex-direction: column;
        padding: 1rem;
    }
    .footer-social {
        margin: 2rem 0;
    }
}